[submodule "libs/glb-lib"]
	path = libs/glb-lib
	url = https://github.com/globbie/glb-lib.git
[submodule "libs/gsl-parser"]
	path = libs/gsl-parser
	url = https://github.com/globbie/gsl-parser.git
[submodule "libs/knode"]
	path = libs/knode
	url = https://github.com/globbie/knode.git
