[Unit]
Description=Knowdy Writer Service
After=network.target

[Service]
Type=simple
User=knowdy
ExecStart=/usr/bin/knd-writer /etc/knowdy/config.ini
Restart=on-failure

[Install]


