[Unit]
Description=Knowdy Delivery Service
After=network.target
PartOf=knowdy.target

[Service]
Type=simple
User=knowdy
ExecStart=/usr/bin/knd-delivery /etc/knowdy/delivery.gsl

[Install]


