[Unit]
Description=Knowdy Reader Service
After=network.target

[Service]
Type=simple
User=knowdy
ExecStart=/usr/bin/knd-reader /etc/knowdy/reader.gsl

[Install]


