[Unit]
Description=Knowdy Delivery Service
After=network.target

[Service]
Type=simple
User=knowdy
ExecStart=/usr/bin/knd-delivery /etc/knowdy/delivery.ini

[Install]


