[Unit]
Description=Knowdy Storage Service

[Service]
Type=simple
User=knowdy
WorkingDirectory=/home/knowdy
ExecStart=/usr/bin/knd-storage /etc/knowdy/storage.ini
Restart=on-failure

[Install]


