[Unit]
Description=Knowdy Learner Service
After=network.target
PartOf=knowdy.target

[Service]
Type=simple
User=knowdy
ExecStart=/usr/bin/knd-learner /etc/knowdy/learner.gsl

[Install]


