[Unit]
Description=Knowdy Reader Service

[Service]
Type=simple
User=knowdy
WorkingDirectory=/home/knowdy
ExecStart=/usr/local/bin/knd_reader /etc/knowdy/config.ini
Restart=on-failure

[Install]


